<h1>Editing Pool</h1>

<%= render 'form', pool: @pool %>

<%= link_to 'Show', @pool, :class=>"btn btn-sm btn-outline-primary"%>
<%= link_to 'Back', pools_path, :class=>"btn btn-sm btn-outline-primary" %>
