/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 @font-face {
  font-family: '45 Light';
  src: url('app/assets/fonts/HelveticaNeue-Light.otf')
}
 .tableClass a {
    text-decoration: none;
    color: black;
 }

 .tableClass a:hover{
    background-color: white;
}
 .tableClass th .current {
    padding-right: 12px;
    background-repeat: no-repeat;
    background-position: right;
  }
  
  .tableClass th .asc {
    background: url(https://image.flaticon.com/icons/svg/61/61032.svg) no-repeat 99%;
    background-size: 10px 10px;
  }
  
  .tableClass th .desc {
    background: url(https://image.flaticon.com/icons/svg/61/61041.svg) no-repeat 99%;
    background-size: 10px 10px;
  }
